html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.head1 {
  height: 700px;
  background-image: url(../images/wyaltubo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.head1 .container {
  max-width: 1240px;
  width: 90%;
  margin: 0 auto;
}
.head1 .container .hnav {
  width: 100%;
  padding: 0 30px;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}
.head1 .container .hnav .hul {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.head1 .container .hnav .hul .hli a {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  color: white;
  text-align: center;
}
.head1 .container .hnav .fa-bars {
  display: none;
}
@media (max-width: 800px) {
  .head1 .container .hnav .fa-bars {
    display: inline-block;
  }
}
.head1 .container2 {
  gap: 70px;
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.head1 .container2 .textdiv {
  max-width: 428px;
  width: 100%;
  height: 160px;
}
.head1 .container2 .textdiv h3 {
  font-family: Roboto, sans-serif;
  font-size: 70px;
  font-weight: 900;
  line-height: 100px;
  color: white;
}
@media (max-width: 600px) {
  .head1 .container2 .textdiv h3 {
    font-size: 45px;
    padding: 10px;
  }
}
.head1 .container2 .textdiv1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  width: 211px;
  height: 52px;
  text-align: center;
  background-color: rgb(255, 70, 70);
}
.head1 .container2 .textdiv1 h3 {
  font-family: "DM Sans", sans-serif;
  color: white;
}

/* Header Done */
.s-1 {
  height: 700px;
  background-image: url(../images/Rectangle\ 14.png), url(../images/Rectangle\ 13.png), url(../images/Rectangle\ 14.png), url(../images/Rectangle\ 14.png), -webkit-gradient(linear, left top, left bottom, from(#010a20), to(rgba(1, 10, 32, 0)));
  background-image: url(../images/Rectangle\ 14.png), url(../images/Rectangle\ 13.png), url(../images/Rectangle\ 14.png), url(../images/Rectangle\ 14.png), linear-gradient(180deg, #010a20 0%, rgba(1, 10, 32, 0) 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.s-1 .maindiv {
  padding: 10px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1100px;
  width: 100%;
  height: 600px;
}
.s-1 .maindiv .textdiv2 {
  max-width: 450px;
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.s-1 .maindiv .textdiv2 h3 {
  color: white;
  font-family: "DM Sans", sans-serif;
  font-size: 42px;
  line-height: 50px;
}
.s-1 .maindiv .textdiv2 p {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: #e0e0e0;
}
.s-1 .maindiv .textdiv2 .textdiv3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  width: 211px;
  height: 30px;
  padding: 30px;
  text-align: center;
  background-color: rgb(255, 70, 70);
}
.s-1 .maindiv .textdiv2 .textdiv3 a {
  font-family: "DM Sans", sans-serif;
  color: white;
}

/*SECTION 1 END */
.s-2 {
  height: 700px;
  background-image: url(../images/Rectangle\ 12.png), url(../images/Rectangle\ 13.png), url(../images/Rectangle\ 12.png), url(../images/Rectangle\ 14.png), url(../images/Rectangle\ 14.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.s-2 .maindiv1 {
  padding: 10px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1100px;
  width: 100%;
  height: 600px;
}
.s-2 .maindiv1 .textdiv4 {
  max-width: 450px;
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.s-2 .maindiv1 .textdiv4 h3 {
  color: white;
  font-family: "DM Sans", sans-serif;
  font-size: 42px;
  line-height: 50px;
}
.s-2 .maindiv1 .textdiv4 p {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: #e0e0e0;
}
.s-2 .maindiv1 .textdiv4 .textdiv5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  width: 211px;
  height: 30px;
  padding: 30px;
  text-align: center;
  background-color: rgb(255, 70, 70);
}
.s-2 .maindiv1 .textdiv4 .textdiv5 a {
  font-family: "DM Sans", sans-serif;
  color: white;
}

/*SECTION 2 END*/
.s-3 {
  height: 700px;
  background-image: url(../images/Rectangle\ 12.png), url(../images/Rectangle\ 13.png), url(../images/Rectangle\ 12.png), url(../images/Rectangle\ 14.png), url(../images/Rectangle\ 14.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.s-3 .maindiv1 {
  padding: 10px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1100px;
  width: 100%;
  height: 600px;
}
.s-3 .maindiv1 .textdiv4 {
  max-width: 450px;
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.s-3 .maindiv1 .textdiv4 h3 {
  color: white;
  font-family: "DM Sans", sans-serif;
  font-size: 42px;
  line-height: 50px;
}
.s-3 .maindiv1 .textdiv4 p {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: #e0e0e0;
}
.s-3 .maindiv1 .textdiv4 .textdiv5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  position: relative;
  width: 211px;
  height: 30px;
  padding: 30px;
  text-align: center;
  background-color: rgb(255, 70, 70);
}
.s-3 .maindiv1 .textdiv4 .textdiv5 a {
  font-family: "DM Sans", sans-serif;
  color: white;
}

/*SECTION 3 END*/
.s-4 {
  height: 700px;
  background-image: url(../images/Rectangle\ 12.png), url(../images/Rectangle\ 13.png), url(../images/Rectangle\ 12.png), url(../images/Rectangle\ 14.png), url(../images/Rectangle\ 14.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.s-4 .maindiv {
  margin: auto;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1100px;
  width: 100%;
  height: 600px;
}
.s-4 .maindiv .textdiv4 {
  max-width: 450px;
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.s-4 .maindiv .textdiv4 h3 {
  color: white;
  font-family: "DM Sans", sans-serif;
  font-size: 44px;
  line-height: 50px;
}
.s-4 .maindiv .textdiv4 p {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: #e0e0e0;
}
.s-4 .maindiv .textdiv4 .textdiv5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  position: relative;
  width: 211px;
  height: 30px;
  padding: 30px;
  text-align: center;
  background-color: rgb(255, 70, 70);
}
.s-4 .maindiv .textdiv4 .textdiv5 a {
  font-family: "DM Sans", sans-serif;
  color: white;
}

/*SECTION 4 END*/
.s-5 {
  height: 700px;
  background-image: url(../images/Rectangle\ 12.png), url(../images/Rectangle\ 13.png), url(../images/Rectangle\ 12.png), url(../images/Rectangle\ 14.png), url(../images/Rectangle\ 14.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.s-5 .maindiv {
  padding: 10px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1100px;
  width: 100%;
  height: 600px;
}
.s-5 .maindiv .textdiv4 {
  max-width: 450px;
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.s-5 .maindiv .textdiv4 h3 {
  color: white;
  font-family: "DM Sans", sans-serif;
  font-size: 42px;
  line-height: 50px;
}
.s-5 .maindiv .textdiv4 p {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: #e0e0e0;
}
.s-5 .maindiv .textdiv4 .textdiv5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  position: relative;
  width: 211px;
  height: 30px;
  padding: 30px;
  text-align: center;
  background-color: rgb(255, 70, 70);
}
.s-5 .maindiv .textdiv4 .textdiv5 a {
  font-family: "DM Sans", sans-serif;
  color: white;
}

/*SECTION 5 END*/
.s-6 {
  height: 700px;
  background-image: url(../images/Rectangle\ 12.png), url(../images/Rectangle\ 13.png), url(../images/Rectangle\ 12.png), url(../images/Rectangle\ 14.png), url(../images/Rectangle\ 14.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.s-6 .maindiv1 {
  padding: 10px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1100px;
  width: 100%;
  height: 600px;
}
.s-6 .maindiv1 .textdiv4 {
  max-width: 450px;
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.s-6 .maindiv1 .textdiv4 h3 {
  color: white;
  font-family: "DM Sans", sans-serif;
  font-size: 32px;
  line-height: 50px;
}
.s-6 .maindiv1 .textdiv4 p {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: #e0e0e0;
}
.s-6 .maindiv1 .textdiv4 .textdiv5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  position: relative;
  width: 211px;
  height: 30px;
  padding: 30px;
  top: 33px;
  text-align: center;
  background-color: rgb(255, 70, 70);
}
.s-6 .maindiv1 .textdiv4 .textdiv5 a {
  font-family: "DM Sans", sans-serif;
  color: white;
}

/*SECTION 6 END*/
.s-7 {
  height: 700px;
  background-image: url(../images/Rectangle\ 12.png), url(../images/Rectangle\ 13.png), url(../images/Rectangle\ 12.png), url(../images/Rectangle\ 14.png), url(../images/Rectangle\ 14.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.s-7 .maindiv {
  padding: 10px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1100px;
  width: 100%;
  height: 600px;
}
.s-7 .maindiv .textdiv4 {
  max-width: 450px;
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.s-7 .maindiv .textdiv4 h3 {
  color: white;
  font-family: "DM Sans", sans-serif;
  font-size: 42px;
  line-height: 50px;
}
.s-7 .maindiv .textdiv4 p {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: #e0e0e0;
}
.s-7 .maindiv .textdiv4 .textdiv5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  position: relative;
  width: 211px;
  height: 30px;
  padding: 30px;
  text-align: center;
  background-color: rgb(255, 70, 70);
}
.s-7 .maindiv .textdiv4 .textdiv5 a {
  font-family: "DM Sans", sans-serif;
  color: white;
}

/*SECTION 7 END*/
.s-8 .bigbox {
  max-width: 1200px;
  width: 100%;
  height: 95%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.s-8 .bigbox .smallbox1 {
  max-width: 500px;
  width: 100%;
  margin-bottom: 50px;
}
.s-8 .bigbox .smallbox1 h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 50px;
  line-height: 90px;
}
.s-8 .bigbox .smallbox1 p {
  font-family: "DM Sans", sans-serif;
  margin-top: 20px;
}
.s-8 .bigbox .smallbox2 {
  max-width: 1100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}
@media (max-width: 900px) {
  .s-8 .bigbox .smallbox2 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 1050px) {
  .s-8 .bigbox .smallbox2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.s-8 .bigbox .smallbox2 .imgbox {
  max-width: 350px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.s-8 .bigbox .smallbox2 .imgbox .img1 {
  width: 315px;
  height: 200px;
  border-radius: 10px;
}
@media (max-width: 1050px) {
  .s-8 .bigbox .smallbox2 .imgbox .img-1 {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
.s-8 .bigbox .smallbox2 .imgbox .img2 {
  width: 90%;
  height: 200px;
  border-radius: 10px;
}
.s-8 .bigbox .smallbox2 .imgbox2 {
  max-width: 350px;
  width: 100%;
  height: 780px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1050px) {
  .s-8 .bigbox .smallbox2 .imgbox2 {
    height: 500px;
  }
}
.s-8 .bigbox .smallbox2 .imgbox2 .img3 {
  width: 90%;
  height: 200px;
  border-radius: 10px;
}
.s-8 .bigbox .smallbox2 .imgbox2 .img4 {
  width: 70%;
  height: 250px;
  border-radius: 10px;
}
@media (max-width: 1050px) {
  .s-8 .bigbox .smallbox2 .imgbox2 .logoimg {
    display: none;
  }
}
.s-8 .bigbox .smallbox2 .imgbox3 {
  max-width: 350px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.s-8 .bigbox .smallbox2 .imgbox3 .img5 {
  width: 90%;
  height: 200px;
  border-radius: 10px;
}
@media (max-width: 1050px) {
  .s-8 .bigbox .smallbox2 .imgbox3 .img-0 {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
.s-8 .bigbox .smallbox2 .imgbox3 .img6 {
  width: 90%;
  height: 200px;
  border-radius: 10px;
}

/* SECTION 8 END */
.s-9 {
  max-width: 1440px;
  width: 100%;
  height: 900px;
  margin: auto;
}
@media (max-width: 600px) {
  .s-9 {
    height: 800px;
    margin-bottom: 200px;
  }
}
.s-9 .bigdiv {
  max-width: 1050px;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.s-9 .bigdiv h1 {
  max-width: 720px;
  width: 100%;
  font-family: "DM Sans", sans-serif;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  padding: 0 10px;
}
.s-9 .bigdiv .videobox {
  max-width: 800px;
  width: 100%;
  padding: 0 10px;
}
.s-9 .bigdiv .medium {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.s-9 .bigdiv .medium .smallbox1 {
  max-width: 500px;
  width: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 50px;
}
@media (max-width: 600px) {
  .s-9 .bigdiv .medium .smallbox1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
}
.s-9 .bigdiv .medium .smallbox1 .textbox1 {
  max-width: 300px;
  width: 100%;
  padding: 0 10px;
}
@media (max-width: 600px) {
  .s-9 .bigdiv .medium .smallbox1 .textbox1 {
    margin-top: 10px;
  }
}
.s-9 .bigdiv .medium .smallbox1 .textbox1 h2 {
  margin-bottom: 13px;
}
@media (max-width: 600px) {
  .s-9 .bigdiv .medium .smallbox1 .textbox1 h2 {
    text-align: center;
  }
}
.s-9 .bigdiv .medium .smallbox2 {
  max-width: 500px;
  width: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 600px) {
  .s-9 .bigdiv .medium .smallbox2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.s-9 .bigdiv .medium .smallbox2 .textbox2 {
  max-width: 300px;
  width: 100%;
  padding: 0 10px;
}
@media (max-width: 600px) {
  .s-9 .bigdiv .medium .smallbox2 .textbox2 {
    margin-top: 10px;
  }
}
.s-9 .bigdiv .medium .smallbox2 .textbox2 h2 {
  margin-bottom: 13px;
}
@media (max-width: 600px) {
  .s-9 .bigdiv .medium .smallbox2 .textbox2 h2 {
    text-align: center;
  }
}

/* SECTION 9 END */
/* FOOTER START */
footer .ftnav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .ftnav img {
  text-align: center;
}
footer .ftnav .ftul {
  max-width: 850px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}
@media (max-width: 650px) {
  footer .ftnav .ftul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 250px;
  }
}
footer .ftnav .ftul .ftli a {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  color: white;
}

/* PAGE 2 STARTS HERE */
.head2 .pnav {
  width: 100%;
  padding: 0 30px;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}
.head2 .pnav .fa-bars {
  display: none;
}
@media (max-width: 800px) {
  .head2 .pnav .fa-bars {
    display: inline-block;
  }
}
.head2 .pnav .pul {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 800px) {
  .head2 .pnav .pul {
    display: none;
  }
}
.head2 .pnav .pul .pli a {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  color: white;
  text-align: center;
}

/* PAGE 2 HEADER END */
.s0 {
  height: 100px;
}

.ps-1 {
  max-width: 1300px;
  width: 100%;
  margin: auto;
}
.ps-1 .pdiv1 {
  max-width: 400px;
  width: 100%;
  margin: auto;
  padding: 10px;
}
.ps-1 .pdiv1 h3 {
  font-size: 35px;
}
.ps-1 .pdiv2 {
  padding: 10px;
  max-width: 400px;
  width: 100%;
}
.ps-1 .pdiv2 h3 {
  font-size: 30px;
}
.ps-1 .infobox0 {
  padding: 20px;
  width: 100%;
  margin: auto;
}
.ps-1 .infobox0 p {
  line-height: 22px;
}
.ps-1 .imgdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.ps-1 .imgdiv img {
  padding: 10px;
}

/*PAGE 2 SECTION 1 END */
.ps-2 {
  max-width: 1300px;
  width: 100%;
  margin: auto;
}
.ps-2 .pdiv1 {
  padding: 10px;
  max-width: 400px;
  width: 100%;
  margin: auto;
}
.ps-2 .pdiv1 h3 {
  font-size: 35px;
}
.ps-2 .pdiv2 {
  padding: 10px;
  max-width: 400px;
  width: 100%;
}
.ps-2 .pdiv2 h3 {
  font-size: 30px;
}
.ps-2 .infobox0 {
  padding: 20px;
  width: 100%;
  margin: auto;
}
.ps-2 .infobox0 p {
  line-height: 22px;
}
.ps-2 .infobox0 h3 {
  font-size: 25px;
  padding: 10px;
}
.ps-2 .imgdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.ps-2 .imgdiv img {
  padding: 10px;
}

/* PAGE 2 SECTION 2 END */
.ps-3 {
  max-width: 1300px;
  width: 100%;
  margin: auto;
}
.ps-3 .pdiv1 {
  padding: 10px;
  max-width: 400px;
  width: 100%;
  margin: auto;
}
.ps-3 .pdiv1 h3 {
  font-size: 35px;
}
.ps-3 .pdiv2 {
  padding: 10px;
  max-width: 400px;
  width: 100%;
}
.ps-3 .pdiv2 h3 {
  font-size: 30px;
}
.ps-3 .infobox0 {
  padding: 20px;
  width: 100%;
  margin: auto;
}
.ps-3 .infobox0 p {
  line-height: 22px;
}
.ps-3 .infobox0 h3 {
  font-size: 25px;
  padding: 10px;
}
.ps-3 .imgdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.ps-3 .imgdiv img {
  padding: 10px;
}

/* PAGE 2 SECTION 3 END */
.ps-4 {
  max-width: 1300px;
  width: 100%;
  margin: auto;
}
.ps-4 .pdiv1 {
  padding: 10px;
  max-width: 400px;
  width: 100%;
  margin: auto;
}
.ps-4 .pdiv1 h3 {
  font-size: 35px;
}
.ps-4 .pdiv2 {
  padding: 10px;
  max-width: 400px;
  width: 100%;
}
.ps-4 .pdiv2 h3 {
  font-size: 30px;
}
.ps-4 .infobox0 {
  padding: 20px;
  width: 100%;
  margin: auto;
}
.ps-4 .infobox0 p {
  line-height: 22px;
}
.ps-4 .infobox0 h3 {
  font-size: 25px;
  padding: 10px;
}
.ps-4 .imgdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.ps-4 .imgdiv img {
  padding: 10px;
}

/* PAGE 2 SECTION 4 END */
.ps-5 {
  max-width: 1300px;
  width: 100%;
  margin: auto;
}
.ps-5 .pdiv1 {
  padding: 10px;
  max-width: 400px;
  width: 100%;
  margin: auto;
}
.ps-5 .pdiv1 h3 {
  font-size: 35px;
}
.ps-5 .pdiv2 {
  padding: 10px;
  max-width: 400px;
  width: 100%;
}
.ps-5 .pdiv2 h3 {
  font-size: 30px;
}
.ps-5 .infobox0 {
  padding: 20px;
  width: 100%;
  margin: auto;
}
.ps-5 .infobox0 p {
  line-height: 22px;
}
.ps-5 .infobox0 h3 {
  font-size: 25px;
  padding: 10px;
}
.ps-5 .imgdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.ps-5 .imgdiv img {
  padding: 10px;
}

/* PAGE 2 SECTION 5 END */
.ps-6 {
  max-width: 1300px;
  width: 100%;
  margin: auto;
}
.ps-6 .pdiv1 {
  padding: 10px;
  max-width: 400px;
  width: 100%;
  margin: auto;
}
.ps-6 .pdiv1 h3 {
  font-size: 35px;
}
.ps-6 .pdiv2 {
  padding: 10px;
  max-width: 400px;
  width: 100%;
}
.ps-6 .pdiv2 h3 {
  font-size: 30px;
}
.ps-6 .infobox0 {
  padding: 20px;
  width: 100%;
  margin: auto;
}
.ps-6 .infobox0 p {
  line-height: 22px;
}
.ps-6 .infobox0 h3 {
  font-size: 25px;
  padding: 10px;
}
.ps-6 .imgdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.ps-6 .imgdiv img {
  padding: 10px;
}

/* PAGE 2 SECTION 6 END */
.ps-7 {
  max-width: 1300px;
  width: 100%;
  margin: auto;
}
.ps-7 .pdiv1 {
  padding: 10px;
  max-width: 400px;
  width: 100%;
  margin: auto;
}
.ps-7 .pdiv1 h3 {
  font-size: 35px;
}
.ps-7 .pdiv2 {
  padding: 10px;
  max-width: 600px;
  width: 100%;
}
.ps-7 .pdiv2 h3 {
  font-size: 30px;
}
.ps-7 .infobox0 {
  padding: 20px;
  width: 100%;
  margin: auto;
}
.ps-7 .infobox0 p {
  line-height: 22px;
}
.ps-7 .infobox0 h3 {
  font-size: 25px;
  padding: 10px;
}
.ps-7 .imgdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.ps-7 .imgdiv img {
  padding: 10px;
}

/* PAGE 2 SECTION 7 END */
.ps-8 {
  max-width: 1300px;
  width: 100%;
  margin: auto;
}
.ps-8 .pdiv1 {
  padding: 10px;
  max-width: 400px;
  width: 100%;
  margin: auto;
}
.ps-8 .pdiv1 h3 {
  font-size: 35px;
}
.ps-8 .pdiv2 {
  padding: 10px;
  max-width: 400px;
  width: 100%;
}
.ps-8 .pdiv2 h3 {
  font-size: 30px;
}
.ps-8 .infobox0 {
  padding: 20px;
  width: 100%;
  margin: auto;
}
.ps-8 .infobox0 p {
  line-height: 22px;
}
.ps-8 .infobox0 h3 {
  font-size: 25px;
  padding: 10px;
}
.ps-8 .imgdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.ps-8 .imgdiv img {
  padding: 10px;
}

/* PAGE 2 SECTION 8 END *//*# sourceMappingURL=global.css.map */