
@media (max-width: 1000px) {
    .maindiv{
        flex-direction: column;
        height: 90%;
        justify-content: space-between;
    }
    .maindiv1{
        flex-direction: column-reverse;
        height: 90%;
        justify-content: space-between;
    }
    .medium{
        flex-direction: column;
        height: 300px;
        justify-content: space-between;
    }
    .smallbox1{
        margin-top: 20px;
    }
    .smallbox2{
        margin-bottom: 20px;
    }
    .bigdiv h1{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    i{
        display: inline-block;
    }



    .hli{
        display: none;
    }
    .hul{
        display: none;
    }
    .hnav{
        width: 90%;
    }
}



